:root{
    --borderline: #DDDDDD;
    --white:#FFFFFF;
    --buynow1:#F0AD4E;
    --refreshprice:#5CB85C;
    --buynow2:#286090;
    --grayback:#F5F5F5;
    --someback:#6495ED;
}
 #parent{
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top:20px;
    width:80%;
}

#parent > div:first-child{
    display:flex;
    flex-direction: column;
    margin: auto;
    width:30%;
}

#parent > div:first-child > div:first-child{
    background-color: white;    
    border: 1px solid #DDDDDD;
    padding: 20px;
    
}

#parent > div:first-child > div > img{
    width:100%;
    height: 100%;
}

#parent > div:first-child{
    text-align: center;
}

#parent > div:nth-child(2){
    display:flex;
    flex-direction: column;
    width:65%;
} 

#refresh{
    background-color:var(--refreshprice);
    width:200px;
    height:40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0px;
    border: none;
    font-size:20px;
    /* font-weight:bold; */
}

#refresh > a{
    color:white;
    text-decoration:none;
}

#book_image{
    transition: transform .2s;
}

#book_image:hover {
    transform: scale(1.1);
}
.price{
    transition: transform .2s;
}
.price:hover{
    transform: scale(1.2);
}
.box{
    background-color:var(--grayback);
    border: 1px solid gray;
}

#title{
    margin-top: 10px;
    margin-bottom: 10px;
    /* letter-spacing: 1px; */
}

#authortitle{
    margin-top: 10px;
    margin-left: 10px;
    /* letter-spacing: 1px; */
}

#description{
    margin-top: 10px;
    margin-left: 10px;
    font-size:18px;
}

table {
    width:100%;
}

table , th ,td{
    border: 1px solid gray;
    border-collapse: collapse;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 10px;
}

#description{
    line-height:1.5;
    margin-top: 10px;
}
.buynow{
    width: 100px;
    height:30px;
    color:var(--white);
    background-color:var(--buynow1);
    border: none;
    border-radius: 10px;
}

.box .buynow{
    background-color:var(--buynow2)
}

th {
    text-align:left;
}

@media screen and (max-width:1000px) {
    #parent{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
        margin-top:20px;
        width:100%;
    }

    #parent > div:nth-child(2){
        margin:auto;
    }
}