#heading{
    text-align: center;
    height:100px;
    width:100%;
    border:1px solid teal;
    background-color:rgb(19, 75, 196);
    margin-bottom: 30px;
}
#heading>h1{
    color:yellow;
    font-size: 40px;
}
#heading>h1>a{
    text-decoration: none;
    color:yellow;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
}
#container>div>img{
    height:300px;
    width:100%;
}
#container>div{
    width:300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#container>div>p{
    padding:10px;
}

@media all and (min-width: 180px) and (max-width: 480px) {
    #container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:40px;
    }
}
@media all and (min-width: 480px) and (max-width: 780px){
    #container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:40px;
    }
}