#heading{
    text-align: center;
    height:100px;
    width:100%;
    border:1px solid teal;
    background-color:rgb(19, 75, 196)
}
#heading>h1{
    color:yellow;
    font-size: 40px;
}
#container{
    height:auto;
    width:70%;
    border:1px solid rgb(160, 156, 156);
    border-radius:10px;
}
#date{
    color: green;
    margin-left:2%;
}
#product{
    margin-left:2%;
}
#cont{
    display:flex;
    gap:30px;
}
#product>img{
    height:200px;
    width:170px;
}
#quan{
    width:10%;
}
.grey{
    color:grey
}
.green{
    color:green;
}
#order{
    text-align: center;
    height:300px;
    width:25%;
    border:1px solid rgb(160, 156, 156);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius:10px;
}
#main{
    display:flex;
    justify-content: space-between;
}
#order>button{
    background-color: rgb(185, 14, 85);
    border:none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height:30px;
    width:80%;
    margin-top:5%;
    border-radius: 5px;
    font-size: 20px;
}
hr{
    width:50%;
}
.pink{
    color:rgb(150, 24, 45);
}
