body{
    margin: 0px;
    height: 100vh;
    /* border: 5px solid black; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(https://c1.wallpaperflare.com/preview/300/676/863/white-texture-paint.jpg);
    background-size: cover;

}
.container{
     /* display: flex; */
     margin: auto;
     margin-top: 5rem;
    width: 400px;
    max-width: 400px;
    /* margin: 1rem; */
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
.container, .form_input,.form_button{
    font-weight: 500;

}
/* .form_hidden{
    display: none;
} */
.form> *:first-child{
    margin-top: 0px;
}
.form> *:last-child{
    margin-bottom: 0px;
}
.form_title{
    margin-bottom: 2rem;
    text-align: center;
}
.form_message{
    text-align: center;
    margin-bottom: 1rem;
}

.form_input-group{
    margin-bottom: 1rem;
    text-align: center;
}
.form_input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid lightblue;
    outline: none;
    transition: background 0.2s, border_color 0.2s;
}

.form_button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background-color: green;
}
.form_button:hover{
    background-color: darkcyan;
    
}
.form_button:active{
    transform: scale(0.90);
    
}
.form_text{
    text-align: center;
}
.form_link{
    text-decoration: none;
    cursor: pointer;
}
.form_link:hover{
    text-decoration: underline;
}
#linkCreateAccount{
    font-size: 18px;
}